{% extends "user/base.html" %}
{% load static %}
{% block content %}
<div class="main_box">
            <h2 class="main_heading text-center main_heading_two">Reset Password</h2>
            <div class="log_form">
                <form action="" class="my-5 py-5" method="POST">
                    {% csrf_token %}
                {% for non_field_error in form.non_field.errors %}
                {{ non_field_error }}
                {% endfor %}
                {% for field in form %}
                <div class="form-group mb-4">
                    <label for="{{ field.id_for_label }}">{{ field.html_name }}</label>
                    {{ field }}
                    {% if field.help_text %}
                    <p>{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endfor %}
                    <button class="log_button btn">Submit</button>
                </form>
            </div>
        </div>
{% endblock content %}