@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* ==================================================== */
/* ================== FOOTER STYLES =================== */
/* ==================================================== */

.top_footer {
    margin: 0.3rem 9vw;
    padding: 1rem 1vw;
    padding-top: 2rem;
    border-top: 1px solid #4E4343;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 2fr 3.5fr;
}
.left_text{
    max-width: 3rem;
}
.footer_title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
}
.one{
    transform: rotate(-90deg) translateX(-2.5rem);
}
.two{
    transform: rotate(-90deg) translateX(-5rem);
}
.three{
    transform: rotate(-90deg) translateX(-1.1rem);
}
.footer_link {
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    color: #4E4343;
    transition: all 0.6s;
}
.footer_link:hover {
    text-decoration: none;
    color: #2D93AD ;
    transform: translateY(-4px);
}
.bottom_footer {
    padding: 0.7rem 10vw;
    background-color:#2D93AD ;
}
.bottom_footer p {
    margin-bottom: 0;
    color: rgb(221, 216, 216);
    font-size: 0.85rem;
}
.bottom_footer a {
    color: rgb(221, 216, 216);
    text-decoration: none;
    font-size: 0.85rem;
}
.footer_img {
    margin-top: 0.4rem;
    height: 1.9rem;
}
.footer_img img{
    height: 1.9rem;
}
.logo_box {
    height: 4rem;
    margin-bottom: 1rem;
}
.logo_box img {
    height: 4rem;
    float: right;
}
.top_footer form p {
    font-size: 0.9rem;
}
.subscribe_button {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin-left: 0.4rem;
    font-size: 0.9rem;
    border-radius: 5px !important;
    color: white;
    background-color: #2D93AD;
}
#img2 {
    height: 2rem;
}
.sub_area form {
    display: block !important;
}
.footer_form {
    padding: 0.4rem 1rem;
    background-color: var(--text-white) !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 6px #00000029 !important;
    border: 1px solid #4E4343;
}
.sub_area {
    padding: 0.5rem;
}
.social_area .footer_link {
    display: flex;
}
.social_area .footer_link i {
    margin-top: 0.4rem;
    margin-right: 1rem;
}
@media screen and (max-width: 1024px) {
    .top_footer {
        margin: 0.3rem 10vw;
        grid-row-gap: 2rem;
        grid-template-columns: 2fr 2fr 2fr;
    }
    .sub_area {
        grid-column: 2/4;
    }
    .sub_area form {
        float: right;
    }
    
}
@media screen and (max-width: 768px) {
    .top_footer {
        margin: 0.3rem 10vw;
        grid-row-gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
    .logo_box img {
        float: left;
    }
    .sub_area {
        grid-column: 1/3;
    }
    .sub_area form {
        float: left;
    }
    
}
@media screen and (max-width: 568px) {
    .top_footer {
        margin: 0.3rem 10vw;
        grid-row-gap: 2rem;
        grid-template-columns: 1fr;
    }
    .logo_box img {
        float: left;
    }
    .sub_area {
        grid-column: 1/2;
        padding-left: 3rem;
    }
    .sub_area form {
        float: left;
    }
    /*
    .one{
        margin-left: -2rem;
        margin-top: -0.6rem;
    }
    .two{
        margin-left: -2rem;
        margin-top: -0.9rem;
    }
    .three{
        margin-left: -1.2rem;
    }*/
    .social_area {
        padding-left: 3rem;
    }
    .top_footer {
        margin: 0.3rem 5vw;
    }
    .bottom_footer {
        flex-direction: column;
    }
    .rights{
        margin-left: 0!important;
        margin-top: 0.8rem;
    }
    .sub_area form div {
        width: 6rem;
    }
}
@media screen and (max-width: 428px) {
    .top_footer {
        margin: 0.3rem 1rem;
    }
}