{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Talku-Talku | Home</title>
  <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'user/css/owl.theme.default.min.css' %}" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'user/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'user/css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'user/css/footer.css' %}" />
  <script src="https://kit.fontawesome.com/ff8f230d9a.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Page Preloader -->
  <div class="loader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- End of Page Preloader -->
  <header>
    <section id="navigation-bar">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img class="nav-img" src="{% static 'user/images/preaver.png' %}" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">How it works <span class="sr-only">(current)</span></a>
            </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
                </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'manage' %}">Manage</a>
                </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
              {% else %}
              <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
              {% endif %}
          </ul>
            {% if not user.is_authenticated %}
          <a class="btn btn-outline-light my-2 my-sm-0" type="submit" href=" {% url 'register' %}">
            Get Started
          </a>
            {% else %}
            <a class="btn btn-outline-light my-2 my-sm-0" type="submit" href="{% url 'learn' %}">
            Learn
          </a>
            {% endif %}
        </div>
      </nav>
    </section>
    <div class="container-fluid intro-container d-flex align-items-center">
      <div class="introduction col-lg-6" id="landing">
        <div class="intro-text">
          <h1 class="hero- text">Learn Native Languages<br />at ease</h1>
          <h5 class="hero-subtext">Learn all languages for free across all devices.</h5>
        </div>
        <div class="form-container">
          <form class="form-inline my-2 my-lg-0 hire-button position-relative" action="{% url 'search' %}">
            <input class="form-control" type="search" placeholder="Choose your Language" aria-label="Search" name="q" />
            <button class="btn btn-info my-2 my-sm-0 position-absolute" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </header>

  <section class="second-container position-relative">
    <div class="bar position-absolute"></div>
    <div class="second-section">
      <div class="first-text">
        <h1 class="lead">Learn any language easily</h1>
      </div>
      <div class="second-text">
        <p>
          Personalized Learning, Motivation, Multi-device access,<br />quick
          learning
        </p>
      </div>
    </div>
    <div class="illustration-container">
      <div class="container-fluid x-container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-4 text-center">
            <div class="x_item item1">
              <div class="illustration-img">
                <img src="{% static 'user/images/first-div.svg' %}" />
              </div>

              <h4>Learn anywhere,anytime</h4>
              <p>
                Learn languages across all devices, pc, tablets and mobile
                phone,anywhere and anytime.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-4 text-center">
            <div class="x_item item2">
              <div class="illustration-img">
                <img src="{% static 'user/images/third-div.svg' %}" />
              </div>
              <h4>Learn in a Personalized Way</h4>
              <p>
                Learning with Talku-talku, you personalized your learning
                to your desires
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-4 text-center">
            <div class="x_item item3">
              <div class="illustration-img">
                <img src="{% static 'user/images/second-div.svg' %}" />
              </div>
              <h4>Stay Motivated</h4>
              <p>
                Stay motivated by completing various daily tasks and earn points
                to keep you going
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-4 text-center">
            <div class="x_item item4">
              <div class="illustration-img">
                <img src="{% static 'user/images/fourth.svg' %}" />
              </div>
              <h4>Improve Quickly</h4>
              <p>
                Learning with Talku-talku makes you learn faster and efficiently
                with in weeks
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="third-container position-relative">
    <div class="bar position-absolute"></div>
    <div class="third-section">
      <div class="first-text">
        <h1 class="lead">How it works</h1>
      </div>
      <div class="second-text">
        <p>
          Learn languages with Talku-Talku
        </p>
      </div>
    </div>
    <div class="instruction-container">
      <div class="container-fluid x-container">
        <div class="w-100 instruction_rows text-center d-flex align-items-center">
          <div class="instruction_row1 x_item">
            <div class="instruction-img">
              <img src="{% static 'user/images/thirdsection3.svg' %}">
            </div>
          </div>
          <div class="instruction_row2 x_item">
            <div>
              <h4>1. Download and SignUp</h4>
              <p>Download Talku-Talku from various App stores or sign up on our website,after downloading sign up
                for free and get access to our tutorials</p>
            </div>
          </div>
        </div>
        <div class="w-100 instruction_rows second_row text-center d-flex align-items-center">
          <div class="instruction_row1 x_item">

            <div>
              <h4>2. Select your preferred language to learn</h4>
              <p>Select your preferred language you want to learn and start
                learning instantly and of course learn
                with fun </p>
            </div>

          </div>
          <div class="instruction_row2 x_item">
            <div class="instruction-img">
              <img src="{% static 'user/images/thirdsection2.svg' %}">
            </div>
          </div>
        </div>
        <div class="w-100 instruction_rows text-center d-flex align-items-center">
          <div class="instruction_row1 x_item">
            <div class="instruction-img">
              <img src="{% static 'user/images/thirdsection1.svg' %}">
            </div>
          </div>
          <div class="instruction_row2 x_item">
            <div>
              <h4>3. Learn, learn and learn</h4>
              <p>Get access to all languages, and you can choose
                to learn any language anytime anyway at your desired time.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="penultimate-section">
    <header class="second-header">
      <div class="container-fluid intro-container last">
        <div class="introduction col-lg-6">

          <h1>Learn more than just<br />a language</h1>

          <h5>It's about mastering a timeless skill,cultivating new <br> perspectives,and connecting with
            fascinating people<br>from around the country.</h5>
          <button type="button" class="btn btn-light">Get Started</button>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </header>

  </section>
  <div class="position-relative">
    <div class="bar position-absolute"></div>
    <section class="success-stories position-relative">

      <div class="third-section">
        <div class="first-text">
          <h1 class="lead">How it works</h1>
        </div>
        <div class="second-text">
          <p>
            Learn languages with Talku-Talku
          </p>
        </div>
      </div>
      <div class="success_box">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="story-img">
              <img src="{% static 'user/images/personpikin.png' %}" alt="">
            </div>
            <div class="position-absolute story">
              <h6>Olaoluwale Ajayi</h6>
              <p>My first lesson was exactly as I was
                hoping it would be. Intense, efficient and fun.</p>
            </div>

          </div>
          <div class="item">
            <div class="story-img">
              <img src="{% static 'user/images/Base.png' %}" alt="">
            </div>
            <div class="position-absolute story">
              <h6>Oluwadamilola Lasisi</h6>
              <p>I’ve become better in actually understanding a language.
                I know what to look for and what to focus on from
                the things I’ve learned.</p>
            </div>
          </div>
          <div class="item">
            <div class="story-img">
              <img src="{% static 'user/images/Base2.png' %}" alt="">
            </div>
            <div class="position-absolute story">
              <h6>Seyi Olanipekun</h6>
              <p>Using this platform is the best way for me to learn a new language.
                Even though there are a lot of different platforms and options.</p>
            </div>
          </div>
          <div class="item">
            <div class="story-img">
              <img src="{% static 'user/images/personpikin.png' %}" alt="">
            </div>
            <div class="position-absolute story">
              <h6>Olaoluwale Ajayi</h6>
              <p>My first lesson was exactly as I was
                hoping it would be. Intense, efficient and fun.</p>
            </div>
          </div>
          <div class="item">
            <div class="story-img">
              <img src="{% static 'user/images/Base.png' %}" alt="">
            </div>

            <div class="position-absolute story">
              <h6>Seyi Olanipekun</h6>
              <p>Using this platform is the best way for me to learn a new language.
                Even though there are a lot of different platforms and options.</p>
            </div>
          </div>
          <div class="item">
            <div class="story-img">
              <img src="{% static 'user/images/Base.png' %}" alt="">
            </div>
            <div class="position-absolute story">
              <h6>Seyi Olanipekun</h6>
              <p>Using this platform is the best way for me to learn a new language.
                Even though there are a lot of different platforms and options.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>




  <footer>
    <div class="top_footer">
      <div class="d-flex">
        <div class="left_text">
          <p class="footer_title one">SERVICES</p>
        </div>
        <div class="right_text d-flex flex-column">
          <a href="" class="footer_link">Contact Us</a>
          <a href="" class="footer_link">Scholarships</a>
          <a href="" class="footer_link">Question and Answers</a>
          <a href="" class="footer_link">Find a private Tutor</a>
        </div>
      </div>
      <div class="d-flex">
        <div class="left_text">
          <p class="footer_title two">INFORMATION</p>
        </div>
        <div class="right_text d-flex flex-column">
          <a href="" class="footer_link">About Talku-Talku</a>
          <a href="" class="footer_link">Privacy Policy</a>
          <a href="" class="footer_link">Terms and Conditions</a>
          <a href="" class="footer_link">Enquiries</a>
          <a href="" class="footer_link">FAQ</a>
        </div>
      </div>
      <div class="d-flex">
        <div class="left_text">
          <p class="footer_title three">TEACH</p>
        </div>
        <div class="right_text d-flex flex-column">
          <a href="" class="footer_link">Work With Us</a>
          <a href="" class="footer_link">Partner With Us</a>
        </div>
      </div>
      <div class="social_area">
        <div class="left_text d-flex flex-column">
          <a href="" class="footer_link">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            Facebook
          </a>
          <a href="" class="footer_link">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Twitter
          </a>
          <a href="" class="footer_link">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            Instagram
          </a>
        </div>
        <div class="footer_img">
          <a href="" class="footer_link"><img src="{% static 'user/images/google_app.png' %}" alt=""></a>
        </div>
        <div class="footer_img">
          <a href="" class="footer_link"><img src="{% static 'user/images/app.png' %}" id="img2" alt=""></a>
        </div>
      </div>
      <div class="sub_area">
        <div class="logo_box">
          <a href="" class="footer_link"><img src="{% static 'user/images/preaverg@2x.png' %}" alt=""></a>
        </div>
        <form action="">
          <p>For Updates, Newsletter and other info </p>
          <div class="d-flex">
            <input type="email" class="footer_form" placeholder="Email Address">
            <button class="subscribe_button btn">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom_footer d-flex">
      <div class="d-flex">
        <a href="">About</a>
        <a href="" class="mx-3">Developers</a>
        <a href="">Privacy</a>
      </div>
      <div class="ml-5 rights">
        <p>&copy; 2020 Talku - Talku - All rights reserved UI Design by <span class="designer"></span></p>
      </div>

    </div>
  </footer>




  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{% static 'user/js/popper.js' %}"></script>
  <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'user/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'user/js/signin.js' %}"></script>
  <script src="{% static 'user/js/owl.carousel.min.js' %}"></script>

</body>

</html>